* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loginContainer,
.signupContainer {
    display: flex;
    align-items: center;
    height: 30rem;
    width: 22rem;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    flex-direction: column;

    position: relative;
    background-color: #dfe4e4;
    padding-top: 3rem;
    /* padding-bottom: 3.5rem; */
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    max-width: 25rem;

}

.container h1 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
}

.inputFields {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e2e2e2;
    flex-direction: column;
    position: relative;

    gap: .3rem;
    width: 80%;
    height: auto;
}

.inputFields>input {
    height: 2.4rem;
    width: 100%;
    border-radius: 5px;
    font-size: 0.9rem;
}

.createButton {
    padding: .4rem 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;

}

.loginFailed {
    color: rgb(252, 128, 128);
    font-weight: 500;
    font-size: .9rem;
}